/* Table container styling for scroll */
.table-container {
  max-height: 500px; /* Set maximum height for vertical scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: auto; /* Enable horizontal scrolling */
  margin-top: 5px;
  width: 100%;
  display: block; /* Ensure the container behaves as a block for proper scroll */
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  table-layout: auto; /* Allow table to auto-size based on content */
}

/* Table headers and cells */
th, td {
  border: 1px dotted #9e9c9c;
  padding: 2px; /* Adjusted padding */
  text-align: center;
  font-size: 12px; /* Smaller text size */
  white-space: nowrap; /* Prevent wrapping of content */
}

/* Header styling */
th {
  background-color: #038334;
  color: #ffffff;
  font-weight: normal;
  padding: 10px;
  position: sticky;
}

/* Hover effect for rows */
tr:hover {
  background-color: #eaeaea;
}

/* Table header styling */
thead tr {
  border-bottom: 2px solid #ddd; /* Distinct border for header */
}

/* Footer styling */
tfoot tr {
  background-color: #d8e6f0;
  color: #007e02;
}

/* Footer total row styling */
tfoot td {
  font-weight: bold;
  border-top: 2px solid #ddd;
  padding: 5px;
}

/* Download Button */
.download-button {
  padding: 7px 25px;
  background-color: #125830;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
}

.download-button:hover {
  background-color: #02680b;
}

.search-container {
  margin-bottom: 10px;
  text-align: center;
  color: black;
}
