<!-- Asset Form for Viewing Assets -->
<div>
    <div class="form-container">
     
  
      <form [formGroup]="viewAssetsForm" (ngSubmit)="loadAssets()" class="asset-form">
        <div class="form-row">
          <div class="form-group form-group-inline">
            <select formControlName="branch_id" id="branch" class="form-control" (change)="onBranchChange($event)">
              <option value="">Select Branch</option>
              <option *ngFor="let branch of branches" [value]="branch.branch_id">{{ branch.branch_name }}</option>
            </select>
          </div>
  
          <div class="form-group form-group-inline">
            <select formControlName="group_id" id="group" class="form-control">
              <option value="">Select Group</option>
              <option *ngFor="let group of groups" [value]="group.group_id">{{ group.group_name }}</option>
            </select>
          </div>
  
          <div class="form-group form-group-inline">
            <select formControlName="sub_branch" id="subBranch" class="form-control" [disabled]="!viewAssetsForm.get('branch_id')?.value">
              <option value="">Select Division</option>
              <option *ngFor="let option of subBranchOptions" [value]="option">{{ option }}</option>
            </select>
          </div>
  
          <div class="form-group form-group-inline">
            <button
            type="submit"
            class="submit-button"
  
            [disabled]="isBranchUser && !viewAssetsForm.get('branch_id')?.value">
            Load Assets
          </button>
          </div>
  
        </div>
      </form>
    </div>

    <div *ngIf="!loading" class="loading-message">
      Please Select Branch , Asset Group for Loading Data ... 
    </div>
  
    <div *ngIf="assets.length > 0">
  
      <table class="asset-table">
        <thead>
          <tr>
            <!-- <th>ID</th> -->
            <th>S. No.</th>
            <th>Branch</th>
            <th>Division</th>
            <th>Asset Group</th>
            <th>Device Name</th>
            <th>Configuration</th>
            <th>Serial Number</th>
            <th>Tag Name</th>
            <th>Warranty (End of Support)</th>
            <th>Price</th>
            <th>Purchase Date</th>
            <th>Status</th>
            <th>Asset Value</th>
            <th>Operating System</th>
            <th>RAM</th>
            <th>Storage</th>
            <th>Work Order</th>
            <th>Challan No.</th>
            <!-- <th>Asset Get By</th> -->
  
  
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of assets let i = index">
            <!-- <td>{{ asset.asset_id }}</td> -->
            <td>{{i+1}}</td>
            <td>{{ asset.branch_name }}</td>
            <td>{{ asset.sub_branch }}</td>
            <td>{{ asset.group_name }}</td>
            <td>{{ asset.desktop_name }}</td>
            <td>{{ asset.configuration }}</td>
            <td>{{ asset.serial_number }}</td>
            <td [ngClass]="{'text-red-500 font-semibold font-sans': isFAD(asset.tag_name)}">{{ asset.tag_name }}</td>
  
            <td [ngClass]="{ 'text-blue-500 font-semibold font-sans': asset.warranty === 'Routed To CSD' }">{{ asset.warranty }}</td>
            <td [ngClass]="{'text-blue-500 font-semibold font-sans': isValueNaN(asset.price)}">{{ asset.price }}</td>
            <td [ngClass]="{'text-blue-500 font-semibold font-sans': isRoutedToCSD(asset.purchase_date)}">
              {{ asset.purchase_date }}
            </td>
            <td>{{ asset.status }}</td>
            <td>{{ calculateAssetValue(asset.purchase_date, asset.price) }}</td>
            <td>{{ asset.OS }} </td>
            <td>{{ asset.RAM }} </td>
            <td>{{ asset.Storage }} </td>
            <td [ngClass]="{ 'text-blue-500': asset.work_order === 'Routed To CSD' }">{{ asset.work_order }}</td>
            <td [ngClass]="{ 'routed-to-csd': asset.challan_no === 'Routed To CSD' }">{{ asset.challan_no }}</td>



            
            
            
  
  
            <td>
              <button (click)="editAsset(asset.asset_id)" class="bg-green-800 py-0 px-2 rounded-md text-white">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="noDataFound" class="no-data">
      No Data Found
    </div>
  </div>
  
  <!-- Modal for Editing Asset -->
  <div *ngIf="isEdit" class="fixed inset-0 flex items-center justify-center z-50">
    <div class="modal-overlay absolute inset-0 bg-gray-900 opacity-50"></div>
    <div class="modal-content relative bg-white p-6 rounded-lg shadow-lg" style="width: 70%;">
      <h2 class="text-xl font-semibold mb-4">Update Asset</h2>
      <form [formGroup]="editAssetForm" (ngSubmit)="onSubmit()">
  

        <div class="form-row">
          <div class="form-group mb-4 w-full sm:w-1/2 px-2">
            <label for="branch" class="block text-gray-700">Branch:</label>
            <select id="branch" formControlName="branch_id" class="form-control mt-1 w-full" (change)="onBranchChange($event)">
              <option *ngFor="let branch of branches" [value]="branch.branch_id">{{ branch.branch_name }}</option>
            </select>
          </div>

          <div class="form-group mb-4 w-full sm:w-1/2 px-2">
            <label for="sub_branch" class="block text-gray-700">Division:</label>
            <select id="sub_branch" formControlName="sub_branch" class="form-control mt-1 w-full" >
              <option *ngFor="let option of subBranchOptions" [value]="option">{{ option }}</option>
            </select>
          </div>
  

        </div>
  
        <div class="form-row">

          <div class="form-group mb-4 w-full sm:w-1/2 px-2">
            <label for="group" class="block text-gray-700">Asset Group:</label>
            <select id="group" formControlName="group_id" class="form-control mt-1 w-full" >
              <option *ngFor="let group of groups" [value]="group.group_id">{{ group.group_name }}</option>
            </select>
          </div>
  
  
          <div class="form-group mb-4 w-full sm:w-1/2 px-2">
            <label for="desktop_name" class="block text-gray-700">Device Name</label>
            <input id="desktop_name" formControlName="desktop_name" type="text" class="form-control mt-1 w-full" >
          </div>

          <div class="form-group mb-4 w-full sm:w-1/2 px-2">
            <label for="configuration" class="block text-gray-700">Model Name / Configuration::</label>
            <input id="configuration" formControlName="configuration" type="text" class="form-control mt-1 w-full" >
          </div>




        </div>
  
        <div class="form-row">


          <div class="form-group mb-4 w-full sm:w-1/2 px-2">
            <label for="OS">Operating System:</label>
            <input id="OS" formControlName="OS" class="form-control">
          </div>
         
  

              <div class="form-group mb-4 w-full sm:w-1/2 px-2">
                <label for="RAM">RAM:</label>
                <input id="RAM" formControlName="RAM" class="form-control">
              </div>
        
              <div class="form-group mb-4 w-full sm:w-1/2 px-2">
                <label for="Storage">Storage:</label>
                <input id="Storage" formControlName="Storage" class="form-control">
              </div>
    
  
         
        </div>
  
        <div class="form-row">

          <div class="form-group mb-4 w-full sm:w-1/2 px-2">
            <label for="tag_name" class="block text-gray-700">Tag Name:</label>
            <input id="tag_name" formControlName="tag_name" type="text" class="form-control mt-1 w-full" >
          </div>
          <div class="form-group mb-4 w-full sm:w-1/2 px-2">
            <label for="warranty" class="block text-gray-700">Warranty:</label>
            <input id="warranty" formControlName="warranty" type="date" class="form-control mt-1 w-full" >
          </div>
  
          <div class="form-group mb-4 w-full sm:w-1/2 px-2">
            <label for="price" class="block text-gray-700">Price:</label>
            <input id="price" formControlName="price" type="number" step="0.01" class="form-control mt-1 w-full" >
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group mb-4 w-full sm:w-1/2 px-2">
            <label for="purchase_date" class="block text-gray-700">Purchase Date:</label>
            <input id="purchase_date" formControlName="purchase_date" type="date" class="form-control mt-1 w-full" >
          </div>
  
          <div class="form-group mb-4 w-full sm:w-1/2 px-2">
            <label for="status" class="block text-gray-700">Status:</label>
            <select id="status" formControlName="status" class="form-control">
                <option value="Active">Active</option>
                <option value="InActive">InActive</option>
                <option value="Faulty">Faulty</option>
              </select>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group mb-4 w-full sm:w-1/2 px-2">
            <label for="asset_get_by" class="block text-gray-700">Purchase From:</label>
            <input id="asset_get_by" formControlName="asset_get_by" type="text" class="form-control mt-1 w-full" >
          </div>
  
          <div class="form-group mb-4 w-full sm:w-1/2 px-2">
            <label for="serial_number" class="block text-gray-700">Serial Number:</label>
            <input id="serial_number" formControlName="serial_number" type="text" class="form-control mt-1 w-full" >
          </div>
        </div>

        <div class="form-row">

    
          <div class="form-group mb-4 w-full sm:w-1/2 px-2">
            <label for="work_order">Work Order:</label>
            <input id="work_order" formControlName="work_order" class="form-control">
          </div>
    
          <div class="form-group mb-4 w-full sm:w-1/2 px-2">
            <label for="challan_no">Challan No:</label>
            <input id="challan_no" formControlName="challan_no" class="form-control">
          </div>
        </div>

        <div class="form-row">
         

    
  
        </div>
  
        <div class="flex justify-end gap-4">
          <button type="submit" class="btn-submit">Update Asset</button>
          <button type="button" (click)="resetForm()" class="btn-cancel">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  