<div class="asset-container">
  <!-- Page Header -->
  <div class="text-center mb-4">
    <h1 class="text-xl font-bold mb-2 inline-block border-b-2 border-gray-300">All Asset</h1>
  </div>

  <!-- Search Input -->
  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="onSearchQueryChange()" placeholder="Search assets..." class="search-input">
  </div>

  <!-- Download Button -->



  <!-- Table Container -->
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Sl No.</th>
          <th>Location</th>
          <th>Dept./Div.</th>
          <th>Asset Type</th>
          <th>Desktop Name</th>
          <th>Configuration</th>
          <th>Price</th>
          <th>Serial Number</th>
          <th>Warranty (End of Support)</th>
          <th>Purchase Date</th>
          <!-- <th>Status</th> -->
          <th>Asset Get By</th>
          <th>Tag Name</th>
          <th>OS</th>
          <th>RAM</th>
          <th>Storage</th>
          <th>Work Order</th>
          <th>Challan No</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asset of filteredAssets; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ asset.branch_name }}</td>
          <td>{{ asset.sub_branch }}</td>
          <td>{{ asset.group_name }}</td>
          <td>{{ asset.desktop_name }}</td>
          <td>{{ asset.configuration }}</td>
          <td>{{ asset.price }}</td>
          <td>{{ asset.serial_number }}</td>
          <td>{{ asset.warranty}}</td>
          <td>{{ asset.purchase_date}}</td>
          <!-- <td>{{ asset.status }}</td> -->
          <td>{{ asset.asset_get_by }}</td>
          <td>{{ asset.tag_name }}</td>
          <td>{{ asset.OS }}</td>
          <td>{{ asset.RAM }}</td>
          <td>{{ asset.Storage }}</td>
          <td>{{ asset.work_order }}</td>
          <td>{{ asset.challan_no }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="download-container">
    <button (click)="downloadTableData()" class="download-button bg-cyan-600">Download</button>
  </div>
</div>
