/* Asset container styling */
.asset-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Heading styling */
.branch-heading {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

/* Table container styling */
.table-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  margin-top: 20px;
}

/* Table styling */
.stock-table {
  width: 100%;
  border-collapse: collapse;
}

/* Table header and cell styling */
.stock-table th, .stock-table td {
  border: 1px dotted #252424;
  padding: 3px;
  text-align: center;
  font-size: 13px;
}

/* Header styling */
.stock-table th {
  background-color: #1b8f38;
  font-weight: normal;
  font-size: 14px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Zebra striping for rows */
/* .stock-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
  font-size: 13px;
} */

/* Hover effect for rows */
.stock-table tbody tr:hover {
  background-color: #f1f1f1;
}
.download-button {
  padding: 7px 25px;
  background-color: #125830; /* Primary blue color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
}
.download-button:hover {
  background-color: #02680b; /* Darker blue on hover */
}

.download-container {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
}